@import '../../styles/breakpoints';


.home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .left-menu {
    width: 216px;
    height: auto;
    padding: 8px;
    margin-right: 64px;

    background-color: #FAFAFA;

    h5 {
      margin: 8px 0 8px 16px;

      color: #333333;
      font-size: 20px;
      font-weight: normal;
    }

    .stack {
      margin: 0 0 8px 8px;
      align-items: flex-start;
    }
  }

  .products {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md-min) {
      max-width: calc(100% - 296px);
    }

    .list-cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }
  }

  .mobile-filters {
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    margin-bottom: 32px;
  }
}

.filters-drawer {
  .MuiPaper-root {
    display: flex;
    align-items: center;

    width: 100vw;

    background-color: #FAFAFA;

    .filters-content {
      display: flex;
      flex-direction: column;

      width: 90%;
      margin-top: 16px;

      .filters-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 32px;
      }
    }
  }
}