.home {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  .left-menu {
    width: 216px;
    height: auto;
    padding: 8px;
    margin-right: 64px;

    border-radius: 8px;
    background-color: #F3F3F3;

    h5 {
      margin: 8px 0 8px 16px;

      color: #333333;
      font-size: 20px;
      font-weight: normal;
    }

    .stack {
      margin: 0 0 8px 8px;
      align-items: flex-start;
    }

    .filter {
      padding: 16px;
      margin-bottom: 16px;

      border-radius: 8px;
      background-color: #FFFFFF;

      &:last-child {
        margin: 0;
      }

      & h6 {
        margin-bottom: 8px;

        color: #333333;
        font-size: 16px;
        font-weight: normal;
      }

      & .MuiTextField-root {
        & .MuiOutlinedInput-input {
          padding: 6.5px 14px 6.5px;
        }

        & .MuiOutlinedInput-notchedOutline {
          border-width: 1px !important;
          border-color: rgba(0, 0, 0, 0.23) !important;
        }
      }

      & .MuiSlider-colorPrimary {
        width: 90%;
        margin: 0 5%;
      }
    }
  }

  .products {
    display: flex;
    flex-direction: column;
  }
}