.filters-drawer {
  .MuiPaper-root {
    display: flex;
    align-items: center;

    width: 100vw;

    background-color: #FAFAFA;

    .filters-content {
      display: flex;
      flex-direction: column;

      width: 90%;
      margin-top: 16px;

      .filters-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 32px;
      }

      .MuiButton-root {
        margin-top: 32px;
      }
    }
  }
}